
<h2>{{resultado}}</h2>

<div *ngIf="ver_calculadora_ngmodel ">
  <h1>CALCULADORA POR NGMODEL</h1>
  <p>
    numero1: <input type="text" [(ngModel)]="numero1">
  </p>
  <p>
    numero2: <input type="text" [(ngModel)]="numero2">
  </p>
  
  <button class="btn btn-primary" (click)="sumar()">+</button>
  <button class="btn btn-primary" (click)="restar()">-</button>
  <button class="btn btn-primary" (click)="multiplicar()">*</button>
  <button class="btn btn-primary" (click)="dividir()">/</button>

</div>
<div *ngIf="!ver_calculadora_ngmodel ">
  <h1>CALCULADORA PASO POR REFERENCIA</h1>
  <p>
    numero1: <input #numero1ref  type="text">
  </p>
  <p>
    numero2: <input #numero2ref type="text">
  </p>
  
  <button class="btn btn-primary" (click)="sumar_ref(numero1ref.value,numero2ref.value)">+</button>
  <button class="btn btn-primary" (click)="restar_ref(numero1ref.value,numero2ref.value)">-</button>
  <button class="btn btn-primary" (click)="multiplicar_ref(numero1ref.value,numero2ref.value)">*</button>
  <button class="btn btn-primary" (click)="dividir_ref(numero1ref.value,numero2ref.value)">/</button>
  


</div>
<br><br>
<button class="btn btn-primary" (click)="cambiar_estado_calculadora()">cambiar calculadora</button>
